* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #0A1828;
}

.nav {
  margin-top: 35px;
}
.nav .nav-item {
  position: relative;
  margin-right: 30px;
}
.nav .nav-item .nav-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: rgba(23, 133, 129, 0.649);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #178582;
  left: 0;
  bottom: -3px;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav .nav-item .nav-link:hover::before, .nav .nav-item .nav-link.active::before {
  visibility: visible;
  width: 50%;
}
.nav .nav-item .nav-link:hover, .nav .nav-item .nav-link.active {
  color: #178582;
}

.home {
  height: 100vh;
}
.home .container .row .home__left {
  padding: 350px 0;
}
.home .container .row .home__left .home__name {
  font-size: 48px;
  font-weight: 800;
}
.home .container .row .home__left .home__name a {
  text-decoration: none;
  color: #deb992;
}
.home .container .row .home__left .home__text {
  font-size: 24px;
  color: rgba(222, 185, 146, 0.65);
}
.home .container .row .home__left .home__text span {
  color: #deb992;
  border-bottom: 2px solid #deb992;
}
.home .container .row .home__left .home__socialMedia {
  margin-top: 40px;
  display: flex;
}
.home .container .row .home__left .home__socialMedia a {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(134, 155, 169, 0.3);
  border-radius: 50%;
  color: #178582;
  transition: all 0.3s ease-in-out;
}
.home .container .row .home__left .home__socialMedia a:hover {
  background-color: #178582;
  color: #deb992;
  font-weight: 700;
}