.nav {
    .nav-item {
        position: relative;
        margin-right: $margin-1;

        .nav-link {
            padding: 0;
            margin: 0;
            text-decoration: none;
            color: $turquoise-2;
            font-size: $fs-3;
            font-weight: $fw-2;
            transition: all 0.3s ease-in-out;
    
            &::before {
                position: absolute;
                content: "";
                width: 0;
                height: 2px;
                background-color: $turquoise-1;
                left: 0;
                bottom: -3px;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }

            &:hover::before, &.active::before {
                visibility: visible;
                width: 50%;
            }

            &:hover, &.active {
                color: $turquoise-1;
                font-weight: $fw-4;
            }
        }
    }
}