.navbar {
    padding: 0;
    margin-top: $margin-2;
    .container {
        padding: 0;
        button {}
        .collapse {
            .navbar-nav {
                .nav-item {
                    margin-right: $margin-3;
                    position: relative;
                    
                    .nav-link {
                        padding: 0;
                        font-size: $fs-3;
                        color: $white-2;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 2px;
                            bottom: -3px;
                            background-color: $orange-1;
                            visibility: hidden;
                            transition: ease-in-out 0.3s;
                        }

                        &:hover::before, &.active::before {
                            visibility: visible;
                            width: 50%;
                        }

                        &.active, &:hover {
                            color: $white-1;
                        }
                    }
                }
            }
        }
    }
}