.home {
    height: 100vh;
    .container {
        display: flex;
        align-items: center;
        .row {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .home__left {}
            .home__right {
                img {
                    width: 80%;
                }
            }
        }
    }
}