.home {
    position: relative;
    height: $height-1;
    display: flex;
    align-items: center;
    .container {
        .home__title {
            font-size: $fs-1;
            font-weight: $fw-1;
            margin: 0;
            a {
                text-decoration: none;
                color: $white-1;
            }
        }
        .home__text {
            font-size: $fs-2;
            font-weight: $fw-4;
            color: $white-2;
            margin-top: $margin-1;
            span {
                color: $white-1;
                border-bottom: 2px solid $orange-1;
            }
        }
        .navbar {}
        .home__socialMedia {
            margin-top: $margin-4;
            a {}
        }
    }
}