.home {
    height: $height-1;
    display: flex;
    align-items: center;
    .container {
        .row {
            display: flex;
            align-items: center;
            .home__left {
                .home__name {
                    font-size: $fs-1;
                    font-weight: $fw-5;

                    a {
                        text-decoration: none;
                        color: $gold-1;
                    }
                }
                .home__text {
                    margin-top: $margin-5;
                    font-size: $fs-2;
                    color: $gold-2;
                    
                    span {
                        color: $gold-1;
                        font-weight: $fw-2;
                        border-bottom: 2px solid $gold-1;
                    }
                }
                .nav {}
                .home__socialMedia {
                    margin-top: $margin-3;
                    a {
                        font-size: $fs-3;
                        color: $white-1;
                        margin-right: $margin-4;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background-color: $turquoise-2;
                        border-radius: 50%;
                        line-height: 40px;
                        text-align: center;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: $turquoise-1;
                            color: $gold-1;
                            font-weight: $fw-3;
                        }
                    }
                }
            }
            .home__right {
                padding: 0;
                display: flex;
                justify-content: right;
                img {
                    width: 80%;
                }
            }
        }
    }
}