.home {
    position: relative;
    height: $height-1;
    display: flex;
    align-items: center;
    .container {
        .home__left {
            padding: $padding-1 0;
            .home__title {
                font-size: $fs-1;
                font-weight: $fw-1;
                margin: 0;
                a {
                    text-decoration: none;
                    color: $white-1;
                }
            }
            .home__text {
                font-size: $fs-2;
                font-weight: $fw-4;
                color: $white-2;
                margin-top: $margin-1;
                span {
                    color: $white-1;
                    border-bottom: 2px solid $orange-1;
                }
            }
            .navbar {}
            .home__socialMedia {
                margin-top: $margin-4;
                a {
                    display: inline-block;
                    background-color: $black-2;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    line-height: $lh-1;
                    text-align: center;
                    font-size: $fs-3;
                    color: $white-1;
                    margin-right: $margin-7;
                    transition: ease-in-out 0.3s;
    
                    &:hover {
                        background-color: $orange-1;
                    }
                }
            }
        }
        .home__right {
            padding: 0;
            text-align: right;
            img {
                width: 80%;
                height: 100%;
            }
        }
    }
}