// Animation 
@mixin animation($name-animation, $duration, $iteration-count) {
    animation: $name-animation $duration $iteration-count; 
}

// h2.title
@mixin title {
    font-size: $fs-6;
    text-transform: uppercase;
    font-weight: $fw-2;
    margin-bottom: $margin-5;
    letter-spacing: 2px;
    color: $gold-2;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: $num-2;
        height: 1px;
        background-color: $turquoise-1;
        top: 7px;
        left: 65px;
    }
}

// background 
@mixin backround {
    padding: $padding-2;
    background-color: $dark-3;
}