// Height 
$height-1: 100vh; 

// Font-size
$fs-1: 48px; 
$fs-2: 24px; 
$fs-3: 18px; 

// Font weight 
$fw-1: 700;
$fw-2: 600;
$fw-3: 500;
$fw-4: 400;
$fw-5: 300;

// Color 
$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.6);
$orange-1: #D36B00;


// Margin
$margin-1: 20px;
$margin-2: 35px; 
$margin-3: 30px;
$margin-4: 40px; 