// Colors
$dark-1: #0A1828;
$dark-2: rgba(0,31,51,.9);
$dark-3: #081521; 
$dark-4: #001F32;
$turquoise-1: #178582;
$turquoise-2: rgba(23, 133, 129, 0.469); 
$gold-1: #deb992;
$gold-2: rgba(222, 185, 146, 0.650);
$white-1: #869ba9; 
$white-2: rgba(134, 155, 169, 0.3); 

// Padding 
$padding-1: 300px;

// Margin
$margin-1: 30px; 
$margin-2: 35px; 
$margin-3: 40px;
$margin-4: 8px;
$margin-5: 20px;

// Height
$height-1: 100vh;

// Width - Heighe 
$num-1: 40px; 

// Font-size
$fs-1: 48px; 
$fs-2: 24px;
$fs-3: 16px;
$fs-4: 20px; 

// Font-weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;
$fw-5: 800;